// 0. Variables
$bp-reading: 800px;
$color-primary: #CC0000;
$color-secondary: #154D6D;
$font-family: 'Open Sans', 'Roboto', 'Arial', sans-serif;
$header-height: 80px;

// 1. Base
body {
    font-family: $font-family !important;
}

// 1.1 Base Text
.display-1 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -5%;
    line-height: 64px;
}
.display-2 {
    font-size: 24px;
    letter-spacing: -5%;
    line-height: 32px;
}
.text-body {
    font-size: 16px;
    line-height: 24px;
}
.text-heading-1 {
    font-size: 24px;
    line-height: 32px;
}

// 2. Header
.navbar {
    height: $header-height;
    z-index: 99;
    .nav-item {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}
.navbar.navbar--transparent {
    background: none !important;
    a {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        &:hover {
            color: rgba(255, 255, 255, 0.75);
        }
    }
    a.nuxt-link-exact-active {
        color: white;
        font-weight: 700;
        padding-bottom: .5rem;
        border-bottom: 4px solid #CC0000;
    }
    .dropdown-menu {
        background: rgba(black, .5) !important;
        border: none;
        .dropdown-item {
            &:hover {
                background: none;
            }
            a.nuxt-link-exact-active {
                border-left: 4px solid #CC0000;
                border-bottom: none;
                padding-bottom: 0;
                padding-left: 1rem;
            }
        }
    }
}
.navbar.navbar--sticky {
    margin-top: -$header-height;
    a {
        color: #424242;
        text-decoration: none;
    }
    a.nuxt-link-exact-active {
        font-weight: 700;
        padding-bottom: .5rem;
        border-bottom: 4px solid #CC0000;
    }
    .dropdown-menu {
        .dropdown-item {
            a.nuxt-link-exact-active {
                border-left: 4px solid #CC0000;
                border-bottom: none;
                padding-bottom: 0;
                padding-left: 1rem;
            }
        }
    }
}

// 2. Body
.mcsi-body {
    margin-top: -$header-height
}

// 3. Section
.section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.section.section--reading {
    max-width: $bp-reading;
}
.section__title {
    @extend .display-2;
    font-weight: 700;
}
.section__body {
    margin-top: 24px;
}