// 0. Variables
$bp-reading: 800px;
$bp-screen: 991px;
$primary: #CC0000;
$secondary: #154D6D;
$font-family: 'Open Sans', 'Roboto', 'Arial', sans-serif;
$header-height: 116px;
$header-height-narrow: 80px;

// Import Bootstrap SCSS
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

// 1. Base
body {
    font-family: $font-family !important;
}

// 1.1 Base Text
.display-1 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -5%;
    line-height: 64px;
}
.display-2 {
    font-size: 24px;
    letter-spacing: -5%;
    line-height: 32px;
}
.text-body {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}
.text-heading-1 {
    font-size: 24px;
    line-height: 32px;
}
p {
    @extend .text-body;
}
h1, h2, h3 {
    @extend .display-2;
    font-weight: bold;
    margin-top: 48px;
}
img {
    max-width: 100%;
}

// 2. Header
.navbar {
    height: $header-height;
    z-index: 99;
    @media screen and (max-width: $bp-screen){
        height: $header-height-narrow
    }
}
.navbar.navbar--transparent {
    background: none !important;
    a {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        &:hover {
            color: rgba(255, 255, 255, 0.75);
        }
    }
    a.nuxt-link-exact-active {
        color: white;
        font-weight: 700;
        padding-bottom: .5rem;
        border-bottom: 4px solid #CC0000;
        border-left: none;
        @media screen and (max-width: $bp-screen) {
            border-bottom: none;
            border-left: 4px solid #CC0000;
            padding-left: 1rem;
        }
    }
    .navbar-collapse {
        .nav-item {
            padding: .25rem 1.5rem;
        }
    }
    .navbar-collapse.collapse.show {
        background-color: rgba(black, .8);
    }
    .dropdown-menu {
        background: rgba(black, .8) !important;
        border: none;
        .dropdown-item {
            &:hover {
                background: none;
            }
            a.nuxt-link-exact-active {
                // Not used
                border-left: 4px solid #CC0000;
                border-bottom: none;
                padding-bottom: 0;
                padding-left: 1rem;
            }
        }
        .dropdown-item.nuxt-link-exact-active {
            border-left: 4px solid #CC0000;
            border-bottom: none;
            padding-bottom: 0;
            padding-left: 1rem;
        }
    }
}
.navbar.navbar--sticky {
    margin-top: -$header-height;
    box-shadow: 0 2px 8px 0 rgba(black, .2);
    a {
        color: #424242;
        text-decoration: none;
    }
    a.nuxt-link-exact-active {
        font-weight: 700;
        padding-bottom: .5rem;
        border-bottom: 4px solid #CC0000;
        border-left: none;
        @media screen and (max-width: $bp-screen) {
            border-bottom: none;
            border-left: 4px solid #CC0000;
            padding-left: 1rem;
        }
    }
    .navbar-collapse {
        .nav-item {
            padding: .25rem 1.5rem;
        }
    }
    .navbar-collapse.collapse.show {
        background-color: #f8f9fa;
    }
    .dropdown-menu {
        .dropdown-item {
            a.nuxt-link-exact-active {
                // Not used
                border-left: 4px solid #CC0000;
                border-bottom: none;
                padding-bottom: 0;
                padding-left: 1rem;
            }
        }
        .dropdown-item.nuxt-link-exact-active {
            border-left: 4px solid #CC0000;
            border-bottom: none;
            padding-bottom: 0;
            padding-left: 1rem;
        }
    }
}

// 2. Body
.mcsi-body {
    margin-top: -$header-height
}

// 3. Section
.section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    .section__bg {
        background: none;
        border: none;
    }
    .section__title {
        color: rgba(black, .9) !important;
        font-size: 24px;
        font-weight: 700;
        line-height: 48px;
    }
    .section__body {
        font-size: 16px;
        line-height: 24px;
        margin-top: 24px;
    }
}
.section.section--reading {
    max-width: $bp-reading;
}

// 4. Modal
.modal-dialog {
    .modal-content {
        background-color: #DDDDDD;
        border-radius: 1rem;
        .modal-header {
            border-bottom: none;
            padding: 1rem 1.5rem;
        }
        .modal-body {
            padding: 0 1.5rem 1.5rem 1.5rem;
        }
    }
}